<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Cleanteam/Cleanteamview.html
-->

<f:section name="content">
	<div class="errormessage">
		<h2>
		<f:if condition="{errmsg}">{errmsg}</f:if>
		</h2>
	</div>
	<div class="cleanteam-view-form">
		<f:form action="cleanteamgenerate" name="compose">
		<TABLE style="width:100%" class="tx-churchadmin-pi3" cellspacing="2" cellpadding="2">
		<tr><td  width="100%"><p></p><h4 class ="csc-firstHeader">{question}</h4></td></tr>

  		<tr>
			<td style="padding-top:12px;"><f:if condition="{case}<6">Weeknummers geen schoonmaken (schoonmaakfeest, etc) {nextyear}&nbsp;
			<f:form.textfield size="32" title="vanwege schoonmaaktfeest, impact, zomervakantie,kerst,etc (even aantal graag)" name="weekgeenschoonmaak" value="{nocleanweeknbrs}"/>
			</f:if>
		</td></tr>
  		<tr><td align="right">
			<f:if condition="{case}<6 && {case}!=4">
				<f:form.submit class="btn btn-primary mr-1" title="Cleanteams (opnieuw) samenstellen" value="Clean teams indelen" />
			</f:if>
			</f:form>
			&nbsp;
			<f:if condition="{delete}">&nbsp;
			<f:form action="cleanteamdelete">
			<f:form.submit class="btn btn-primary" title="Alleen oude teams verwijderen" value="Historie verwijderen" />
			</f:form>
			</f:if>
			</td>			
		</tr>
		</TABLE>
	
	</div>
</f:section>
</html>