<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Cleanteam/Cleanteamview.html
-->

<f:section name="content">
	<div class="errormessage">
		<h2>
		<f:if condition="{errmsg}">{errmsg}</f:if>
		</h2>
	</div>
	<div class="cleanteam-view-form">
		<TABLE style="width:100%" class="tx-churchadmin-pi3" cellspacing="2" cellpadding="2">
		<tr><td width="100%"><p></p><h4 class ="csc-firstHeader">{question}</h4></td></tr>

		</TABLE>
	
	</div>
</f:section>
</html>